{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>ECart - Forget Password</title>
{% endblock %}
{% block body %}

<div class="container-fluid w-100">
    <div class="w-50 m-auto">
        <h5 class="text-center bg-primary p-2"><span class="text-success">Reset</span> Password</h5>
        {% for m in messages %}
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor%}
        <form action="/forget-password-2/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>OTP</label>
                <input type="number" name="otp" placeholder="Submit OTP Which is Sent on Your Registered Email Address : " class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Submit OTP</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
